body
{
  color: black;
  background: #fffc00;  
background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  
background: linear-gradient(to right, #ffffff, #fffc00);

}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}